
 <div style="display:flex; gap:10px; margin-bottom: 15px;">
 <input placeholder="שם" [(ngModel)]="name"/>
  <input placeholder="אימייל" [(ngModel)]="email" />
  <input placeholder="תפקיד" [(ngModel)]="role" />

  <button mat-raised-button color="primary" (click)="searchUsers()">
    חיפוש
  </button>

</div>
<div *ngIf="isLoading" class="loading-screen">

  <div class="loader"></div>

  <div class="loading-text">
    <h3>טוען נתונים</h3>
    <p>אנא המתן, המערכת מכינה את המידע...</p>
  </div>

</div>

 <mat-table [dataSource]="users" class="mat-elevation-z8">

  <ng-container matColumnDef="userName">
    <mat-header-cell *matHeaderCellDef> שם משתמש </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <ng-container *ngIf="editMode === user.userId; else showUserName">
        <input [(ngModel)]="editUserDetails.userName" />
      </ng-container>
      <ng-template #showUserName>
        {{user.userName}}
      </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="userEmail">
    <mat-header-cell *matHeaderCellDef> אימייל </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <ng-container *ngIf="editMode === user.userId; else showEmail">
        <input [(ngModel)]="editUserDetails.userEmail" />
      </ng-container>
      <ng-template #showEmail>
        {{user.userEmail}}
      </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="userRole">
    <mat-header-cell *matHeaderCellDef> תפקיד </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <ng-container *ngIf="editMode === user.userId; else showRole">
        <input [(ngModel)]="editUserDetails.userRole" />
      </ng-container>
      <ng-template #showRole>
        {{user.userRole}}
      </ng-template>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> פעולות </mat-header-cell>
    <mat-cell *matCellDef="let user">
      <ng-container *ngIf="editMode === user.userId; else defaultActions">
        <button mat-button color="primary" (click)="updateUser()">שמור</button>
        <button mat-button color="warn" (click)="cancelEdit()">ביטול</button>
      </ng-container>
      <ng-template #defaultActions>
        <button mat-icon-button (click)="editUser(user)">
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteUser(user.userId!)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </ng-template>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
